// fonts
$regularFont: "S-CoreDream-4Regular", sans-serif;
$boldFont: "S-CoreDream-9Black", sans-serif;

// palette
$background: #222831;
$darktext: #282828;
$primary: #db0000;
$whitetext: whitesmoke;

// font-size
$plain: 14px;
