extends base

block content
    div.intro
        div.intro__picture-box
            img.intro__picture(src="/uploads/yt_icon_mono_dark.png")
        div.intro__text-box
            h1.intro__title YouTrend
            p.intro__explanation 당신의 Youtube 이용 트렌드를 분석합니다.
        div.intro__login-box
            form(method="POST")
                button(action="submit") Youtube 계정 연결