header.header
    a.header__logo(href="/")
        h1 YouTrend
    nav.header__nav
        ul 
            if (!loggedIn)
                a(href="/")
                    li.header__nav-menu ABOUT
            else
                a(href="/logout")
                    li.header__nav-menu LOG OUT
    div.header__background